@mixin list-page-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .list-page {
        .header {
            .search-wrapper {
                background: map-get($background, card);

                .search {
                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }

    .list-page {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }

        .crud-table {
            // flex: 1 1 auto;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            // overflow: auto;
            // -webkit-overflow-scrolling: touch;
            width: 100%;

            .mat-header-row {
                min-height: 64px;
            }

            // .mat-cell {
            //     min-width: 0;
            //     display: flex;
            //     align-items: center;
            // }
        }
    }

    .edit-page {
        .header {
            .product-image {
                overflow: hidden;
                width: 56px;
                min-width: 56px;
                max-width: 56px;
                height: 56px;
                min-height: 56px;
                max-height: 56px;
                border-radius: 4px;

                img {
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }

            .subtitle {
                margin: 6px 0 0 0;
            }
        }

        .content {
            .mat-tab-group,
            .mat-tab-body-wrapper,
            .tab-content {
                flex: 1 1 auto;
                max-width: 100%;
            }

            .mat-tab-body-content {
                display: block;
            }

            .mat-tab-label {
                height: 64px;
            }

            .product-image {
                overflow: hidden;
                width: 128px;
                height: 128px;
                margin-right: 16px;
                margin-bottom: 16px;
                border-radius: 4px;

                img {
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }

            // Temporary prefix alignment fix
            .mat-form-field-appearance-outline .mat-form-field-prefix,
            .mat-form-field-appearance-outline .mat-form-field-suffix {
                top: 0;
            }
        }
    }
}
