<p-toast [style]="{marginTop: '80px'}"></p-toast>
<ngx-spinner [bdColor]="spinnerConfig.bdColor"  [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<div id="data" class="page-layout carded fullwidth inner-scroll">
  <div class="center" fusePerfectScrollbar>
    <div class="form-wrapper">
      <form #groupForm="ngForm" (submit)="saveOrCreate(groupForm.valid)" (keydown.enter)="$event.preventDefault()">
        <h2 class="form-title">{{'form.title.search_data_group' | translate}}</h2>
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.label.name' | translate}}</mat-label>
            <input #inputName matInput name="name" [(ngModel)]="item.name">
            <!-- <mat-error *ngIf="name.hasError('name') && !name.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="name.hasError('required')">
              Name is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          <div></div>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.label.description' | translate}}</mat-label>
            <input #inputDescription matInput name="description" [(ngModel)]="item.description">
            <!-- <mat-error *ngIf="name.hasError('name') && !name.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="name.hasError('required')">
              Name is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="content pt10" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="49">
            <mat-form-field appearance="outline">
              <mat-label>{{'form.label.status' | translate}}</mat-label>
              <mat-select [(value)]="item.status">
                <mat-option *ngFor="let status of statusList" [value]="status.value">
                  {{status.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
        </div>
        <div class="content" fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="45">
            <mat-form-field appearance="outline">
              <mat-label>{{'form.label.key' | translate}}</mat-label>
              <input #inputKey matInput name="key" 
                     [(ngModel)]="search.key" 
                     (keydown.enter)="findKeyMaps()"
                     placeholder="{{'form.placeholder.search' | translate}}">
              <mat-icon matSuffix>search</mat-icon>
              <!-- <mat-error *ngIf="name.hasError('name') && !name.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            
          </div>
          <div fxFlex="4">
            <button class="ml-4" mat-fab color="accent" type="button" (click)="findKeyMaps()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <div class="content" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxFlexFill>
          <p-pickList [source]="keys" 
                      [target]="item.keys"
                      sourceHeader="{{'form.header.result' | translate}}"
                      targetHeader="{{'form.header.selected' | translate}}">
            <ng-template let-key pTemplate="item">
                <div class="ui-helper-clearfix">
                  <span>{{key}}</span>
                </div>
            </ng-template>
          </p-pickList>
        </div>
        <div class="example-button-row mt-8">
          
          <button class="mr-4" mat-raised-button color="accent" type="button" (click)="saveOrCreate(groupForm.valid)">{{'actions.save' | translate}}</button>
          <button mat-raised-button color="primary" (click)="homePage()">{{'actions.cancel' | translate}}</button>
        </div>
        <!-- <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
          <div class="m-form__actions m-form__actions--solid">
            <div class="row">
              <div class="col-lg-5">
                <button class="btn btn-success" type="submit">
                  {{'actions.save' | translate}}
                </button>
                <button class="btn btn-secondary" (click)="homePage()">
                  {{'actions.cancel' | translate}}
                </button>
              </div>
              <div class="col-lg-7"></div>
            </div>
          </div>
        </div> -->
      </form>
      
    </div>
  </div>
</div>